In [1]:
import pandas as pd


customers = pd.read_csv(r"C:\Users\vamsi\Downloads\Customers.csv")
products = pd.read_csv(r"C:\Users\vamsi\Downloads\Products.csv")
transactions = pd.read_csv(r"C:\Users\vamsi\Downloads\Transactions.csv")

C:\Users\vamsi\AppData\Local\Temp\ipykernel_2068\2047010819.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
print("Customers Dataset:")
print(customers.head())
print("\nProducts Dataset:")
print(products.head())
print("\nTransactions Dataset:")
print(transactions.head())

Customers Dataset:
  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

Products Dataset:
  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

Transactions Dataset:
  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price
0      300.68  300.68
1      300.68  300.68
2      300.68  300.68
3      601.36  300.68
4      902.04  300.68

In [3]:
print("\nMissing Values:")
print("Customers:", customers.isnull().sum())
print("Products:", products.isnull().sum())
print("Transactions:", transactions.isnull().sum())

Missing Values:
Customers: CustomerID      0
CustomerName    0
Region          0
SignupDate      0
dtype: int64
Products: ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64
Transactions: TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

In [4]:
print("\nData Types:")
print("Customers:\n", customers.dtypes)
print("Products:\n", products.dtypes)
print("Transactions:\n", transactions.dtypes)

Data Types:
Customers:
 CustomerID      object
CustomerName    object
Region          object
SignupDate      object
dtype: object
Products:
 ProductID       object
ProductName     object
Category        object
Price          float64
dtype: object
Transactions:
 TransactionID       object
CustomerID          object
ProductID           object
TransactionDate     object
Quantity             int64
TotalValue         float64
Price              float64
dtype: object

In [7]:
customers['SignupDate'] = pd.to_datetime(customers['SignupDate'])
transactions['TransactionDate'] = pd.to_datetime(transactions['TransactionDate'])

In [8]:
print("\nDuplicate Rows:")
print("Customers:", customers.duplicated().sum())
print("Products:", products.duplicated().sum())
print("Transactions:", transactions.duplicated().sum())

Duplicate Rows:
Customers: 0
Products: 0
Transactions: 0

In [9]:
print("\nMissing Values After Conversion:")
print("Customers:", customers.isnull().sum())
print("Products:", products.isnull().sum())
print("Transactions:", transactions.isnull().sum())

Missing Values After Conversion:
Customers: CustomerID      0
CustomerName    0
Region          0
SignupDate      0
dtype: int64
Products: ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64
Transactions: TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

In [10]:
region_distribution = customers['Region'].value_counts()
print("\nCustomer Distribution by Region:")
print(region_distribution)


customers['SignupYear'] = customers['SignupDate'].dt.year
signup_trend = customers['SignupYear'].value_counts().sort_index()
print("\nSignup Trend Over Years:")
print(signup_trend)

Customer Distribution by Region:
Region
South America    59
Europe           50
North America    46
Asia             45
Name: count, dtype: int64

Signup Trend Over Years:
SignupYear
2022    64
2023    57
2024    79
Name: count, dtype: int64

In [11]:
category_distribution = products['Category'].value_counts()
print("\nProduct Category Distribution:")
print(category_distribution)


print("\nProduct Price Range:")
print(products['Price'].describe())

Product Category Distribution:
Category
Books          26
Electronics    26
Clothing       25
Home Decor     23
Name: count, dtype: int64

Product Price Range:
count    100.000000
mean     267.551700
std      143.219383
min       16.080000
25%      147.767500
50%      292.875000
75%      397.090000
max      497.760000
Name: Price, dtype: float64

In [12]:
transactions['TransactionYearMonth'] = transactions['TransactionDate'].dt.to_period('M')
sales_trend = transactions.groupby('TransactionYearMonth')['TotalValue'].sum()
print("\nSales Trend Over Time:")
print(sales_trend)


top_products = transactions.groupby('ProductID')['Quantity'].sum().sort_values(ascending=False).head(10)
print("\nTop 10 Products by Quantity Sold:")
print(top_products)


transactions_merged = transactions.merge(customers, on='CustomerID', how='left')
revenue_by_region = transactions_merged.groupby('Region')['TotalValue'].sum()
print("\nRevenue Contribution by Region:")
print(revenue_by_region)

Sales Trend Over Time:
TransactionYearMonth
2023-12     3769.52
2024-01    66376.39
2024-02    51459.27
2024-03    47828.73
2024-04    57519.06
2024-05    64527.74
2024-06    48771.18
2024-07    71366.39
2024-08    63436.74
2024-09    70603.75
2024-10    47063.22
2024-11    38224.37
2024-12    59049.20
Freq: M, Name: TotalValue, dtype: float64

Top 10 Products by Quantity Sold:
ProductID
P059    46
P054    46
P029    45
P079    43
P061    43
P057    43
P048    43
P062    39
P020    38
P028    38
Name: Quantity, dtype: int64

Revenue Contribution by Region:
Region
Asia             152074.97
Europe           166254.63
North America    152313.40
South America    219352.56
Name: TotalValue, dtype: float64

In [13]:
merged_data = pd.merge(transactions, customers, on='CustomerID', how='inner')


merged_data.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,TransactionYearMonth,CustomerName,Region,SignupDate,SignupYear
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,2024-08,Andrea Jenkins,Europe,2022-12-03,2022
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,2024-05,Brittany Harvey,Asia,2024-09-04,2024
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,2024-04,Kathryn Stevens,Europe,2024-04-04,2024
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,2024-03,Travis Campbell,South America,2024-04-11,2024
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,2024-03,Timothy Perez,Europe,2022-03-15,2022

In [14]:
customer_spending = merged_data.groupby('CustomerID')['TotalValue'].sum().reset_index()
avg_transaction_value = merged_data.groupby('CustomerID')['TotalValue'].mean().reset_index()
product_preferences = merged_data.groupby(['CustomerID', 'ProductID'])['Quantity'].sum().reset_index()
customer_features = pd.merge(customer_spending, avg_transaction_value, on='CustomerID', how='inner')
customer_features = pd.merge(customer_features, product_preferences.groupby('CustomerID')['Quantity'].sum().reset_index(), on='CustomerID', how='inner')


customer_features.head()

  CustomerID  TotalValue_x  TotalValue_y  Quantity
0      C0001       3354.52       670.904        12
1      C0002       1862.74       465.685        10
2      C0003       2725.38       681.345        14
3      C0004       5354.88       669.360        23
4      C0005       2034.24       678.080         7